/* margin公共设置 */
.mt6 {
	margin-top: 6%;
}
.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt5 {
	margin-top: 5px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt40 {
	margin-top: 40px !important;
}
.mt50 {
	margin-top: 50px !important;
}
.mt70 {
	margin-top: 70px !important;
}
.ml0 {
	margin-left: 0;
}
.mb5p {
	margin-bottom: 5px;
}
.mb0 {
	margin-bottom: 0;
}
.mr10 {
	margin-right: 10px;
}
.ml2 {
	margin-left: 2%;
}
.ml-5 {
	margin-left: -5px;
}
.ml120 {
	margin-left: 120px;
}
.ml125 {
	margin-left: 125px;
}
.ml135 {
	margin-left: 135px;
}
.ml140 {
	margin-left: 140px;
}
.ml150 {
	margin-left: 150px !important;
}
.ml10 {
	margin-left: 10px !important;
}
.ml95 {
	margin-left: 95px !important;
}
.ml5 {
	margin-left: 5px;
}
.mr5 {
	margin-right: 5px;
}
.ml15 {
	margin-left: 15px !important;
}
.ml24 {
	margin-left: 24px !important;
}
.ml20 {
	margin-left: 20px !important;
}
.ml30 {
	margin-left: 30px !important;
}
.m1 {
	margin: 1px !important;
}
.m2 {
	margin: 2px !important;
}
/* text-align公共设置 */
.tl {
	text-align: left;
}
.tc {
	text-align: center;
}
/* padding公共设置 */
.pb0 {
	padding-bottom: 0 !important;
}
.prow10 {
	padding-left: 10px;
	padding-right: 10px;
}
.p10 {
	padding: 10px;
}
.pt15 {
	padding-top: 15px;
}
.pt20 {
	padding-top: 15px;
}
.pt50 {
	padding-top: 50px;
}
.pt0 {
	padding-top: 0 !important;
}
.pl15 {
	padding-left: 15px;
}
.pl35 {
	padding-left: 35px !important;
}
.pl10 {
	padding-left: 10px !important;
}
.pl50 {
	padding-left: 50px !important;
}
.plr50 {
	padding-left: 50px !important;
	padding-right: 50px !important;
}
.pr25 {
	padding-right: 25px;
}
.pr0 {
	padding-right: 0 !important;
}
.plr0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.plrp3 {
	padding-left: 3% !important;
	padding-right: 3% !important;
}
.plrp2 {
	padding-left: 2% !important;
	padding-right: 2% !important;
}
.plrp1 {
	padding-left: 1% !important;
	padding-right: 1% !important;
}
.plr10 {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.plr20 {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.ptb9 {
	padding-top: 9px;
	padding-bottom: 9px;
}
.pb15 {
	padding-bottom: 15px;
}
/* min-height公共设置 */
.minHAutp {
	min-height: auto !important;
}
/* float公共设置 */
.fl {
	float: left;
}
.fr {
	float: right;
}
.fn {
	float: none;
}

.clear-none {
	clear: none !important;
}
.clear-both {
	clear: both !important;
}

/* position公共设置 */
.pr {
	position: relative;
}
.pa {
	position: absolute;
}
/* width公共设置 */
.w100 {
	width: 100% !important;
}
.wp50 {
	width: 50% !important;
}
.wp80 {
	width: 80% !important;
}
.w90 {
	width: 90px;
}
.w220 {
	width: 220px !important;
}
.w230 {
	width: 230px !important;
}
.w150 {
	width: 150px !important;
}
.w470 {
	width: 470px !important;
}
.w340 {
	width: 340px !important;
}
.w110 {
	width: 110px !important;
}
.w120 {
	width: 120px !important;
}
.w130 {
	width: 130px !important;
}
.w140 {
	width: 140px !important;
}
.w240 {
	width: 240px !important;
}
.w64 {
	width: 64px !important;
}
.wauto {
	width: auto;
}
.h64 {
	height: 64px !important;
}
/* height公共设置 */
.h30 {
	height: 30px;
}
.h38 {
	height: 38px;
}
.h35 {
	height: 35px;
}

.layui-table, .layui-table-view {
	margin: 0;
}
/* display公共设置 */
.none {
	display: none;
}
.inline-block {
	display: inline-block !important;
}
.block {
	display: block !important;
}

.colw {
	color: white !important;
}
.coldg {
	color: darkgray;
}
.bc-ma {
	background-color: rgb(245, 113, 28);
}
.cl-ma {
	color: rgb(245, 113, 28) !important;
}
.zid999 {
	z-index: 999;
}
.oh {
	overflow: hidden;
}
.fs08 {
	font-size: 0.8em;
}
.bor1 {
	border: 1px solid #EEE;
}
.borb1 {
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e6e6e6;
}
.borlr0 {
	border-left: none !important;
	border-right: none !important;
}