.css-footer {
	position: absolute;
	bottom: 0;
	background-color: rgba(238,238,238,0);
	height: 36px;
	line-height: 36px;
	text-align: center;
	z-index: 9999;
}
.css-footer a {
	color: #FFF;
}
.css-footer a:hover {
	color: #FFF;
}
.index-footer.css-footer {
	left: 220px;
}
.login-footer.css-footer {
	width: 100%;
	left: 0;
}
