
.admin-logo-box {
	width: auto;
}
.header-demo .logo {
	top: 11px;
	left: 110px;
	font-size: 20px;
}
.logoImg {
	width: 85px;
	height: 41px;
	padding-top: 5px;
}
.welcomeSpan {
	display: inline-block;
	position: absolute;
	left: 280px;
	top: 14px;
	font-size: 16px;
}
.adminImg {
	width: 30px;
	height: 30px;
	border-radius: 50px;
}
.layui-side-bg {
	background-color: #FFF;
}
.layui-nav {
	background-color: #FFF;
}
.layui-nav .css-header-info .layui-nav-more {
	border-color: #FFF transparent transparent;
}
.layui-nav .css-header-info .layui-nav-mored,
.layui-nav-itemed .css-header-info .layui-nav-more {
	border-color: transparent transparent #FFF;
}
.layui-nav .layui-nav-item a, .layui-nav-tree .layui-nav-child a {
	color: rgb(46, 58, 64);
}
.layui-nav-tree .layui-nav-child a:hover, .layui-nav-child dd.layui-this a {
	color: rgb(245, 113, 29) !important;
	background-color: rgb(254, 247, 243) !important;
}
.layui-nav-tree .layui-nav-item a:hover, .layui-nav-itemed>a, .layui-nav-child dd.layui-this {
	background-color: rgb(254, 247, 243) !important;
	color: rgb(245, 113, 29) !important;
}
.icon-menu-common {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-top: 13.5px;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}
.icon-menu-home {
	background-image: url(../images/icon/home.png);
}
.layui-nav-item a:hover .icon-menu-home,
.layui-nav-itemed .icon-menu-home,
.layui-nav-tree .layui-nav-item.layui-this .icon-menu-home {
	background-image: url(../images/icon/home-hover.png);
}
.icon-menu-store {
	background-image: url(../images/icon/store.png);
}
.layui-nav-item a:hover .icon-menu-store,
.layui-nav-itemed .icon-menu-store,
.layui-nav-tree .layui-nav-item.layui-this .icon-menu-store {
	background-image: url(../images/icon/store-hover.png);
}
.icon-menu-dishes {
	background-image: url(../images/icon/dishes.png);
}
.layui-nav-item a:hover .icon-menu-dishes,
.layui-nav-itemed .icon-menu-dishes,
.layui-nav-tree .layui-nav-item.layui-this .icon-menu-dishes {
	background-image: url(../images/icon/dishes-hover.png);
}
.icon-menu-user {
	background-image: url(../images/icon/user.png);
}
.layui-nav-item a:hover .icon-menu-user,
.layui-nav-itemed .icon-menu-user,
.layui-nav-tree .layui-nav-item.layui-this .icon-menu-user {
	background-image: url(../images/icon/user-hover.png);
}
.icon-menu-member {
	background-image: url(../images/icon/member.png);
}
.layui-nav-item a:hover .icon-menu-member,
.layui-nav-itemed .icon-menu-member,
.layui-nav-tree .layui-nav-item.layui-this .icon-menu-member {
	background-image: url(../images/icon/member-hover.png);
}
.icon-menu-table {
	background-image: url(../images/icon/table.png);
}
.layui-nav-item a:hover .icon-menu-table,
.layui-nav-itemed .icon-menu-table,
.layui-nav-tree .layui-nav-item.layui-this .icon-menu-table {
	background-image: url(../images/icon/table-hover.png);
}
.icon-menu-sort {
	background-image: url(../images/icon/sort.png);
}
.layui-nav-item a:hover .icon-menu-sort,
.layui-nav-itemed .icon-menu-sort,
.layui-nav-tree .layui-nav-item.layui-this .icon-menu-sort {
	background-image: url(../images/icon/sort-hover.png);
}
.icon-menu-store-dishes {
	background-image: url(../images/icon/store-dishes.png);
}
.layui-nav-item a:hover .icon-menu-store-dishes,
.layui-nav-itemed .icon-menu-store-dishes,
.layui-nav-tree .layui-nav-item.layui-this .icon-menu-store-dishes {
	background-image: url(../images/icon/store-dishes-hover.png);
}
.icon-menu-takeaway {
	background-image: url(../images/icon/takeaway.png);
}
.layui-nav-item a:hover .icon-menu-takeaway,
.layui-nav-itemed .icon-menu-takeaway,
.layui-nav-tree .layui-nav-item.layui-this .icon-menu-takeaway {
	background-image: url(../images/icon/takeaway-hover.png);
}
.icon-menu-payment {
	background-image: url(../images/icon/payment.png);
}
.layui-nav-item a:hover .icon-menu-payment,
.layui-nav-itemed .icon-menu-payment,
.layui-nav-tree .layui-nav-item.layui-this .icon-menu-payment {
	background-image: url(../images/icon/payment-hover.png);
}
.menu-title {
	display: inline-block;
    left: 50px;
    top: 5px;
}
.layui-nav-tree .layui-nav-item.layui-this {
	background-color: rgb(254, 247, 243) !important;
}
.layui-nav-tree .layui-nav-item.layui-this .menu-title {
	color: rgb(245, 113, 29) !important;
}
.div-cur-title {
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	font-size: 16px;
	padding: 15px 25px;
	overflow: hidden;
}
.div-cur-title .span-index-text {
	color: rgb(171, 184, 192);
}
.layui-nav-tree .layui-nav-bar {
	background-color: rgb(245, 113, 28) !important;
}
