.search-icon {
	right: 2px;
	top: 6.5px;
	cursor: pointer;
}
.css-dl-child {
	right: 0;
	background-color: #FFF;
	border: 1px solid #d2d2d2;
    border-radius: 2px;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
}
.layui-layer-btn .layui-layer-btn0 {
    border-color: rgb(245, 113, 28) !important;
    background-color: rgb(245, 113, 28) !important;
    color: #fff;
}
body .layui-tree-skin-cheng .layui-tree-branch{color: rgb(245, 113, 28);}
.layui-tree li ul {
	margin-left: 40px;
}
.css-tree-hover {
	background-color: rgb(245,113,48) !important;
	color: #FFF !important;
}
.css-tree-hover:hover {
	color: #FFF !important;
}

.layui-tab-brief > .layui-tab-title .layui-this:after, .layui-tab-brief > .layui-tab-more li.layui-this:after {
	border-bottom: 2px solid rgb(245,113,48);
}
.layui-tab-brief > .layui-tab-title .layui-this {
    color: rgb(245,113,48);
}
.layui-form-checked span, .layui-form-checked:hover span {
    background-color: rgb(245,113,48);
}
.layui-form-checked i, .layui-form-checked:hover i {
    color: rgb(245,113,48);
}
.layui-btn-primary:hover {
	border-color: rgb(245,113,48) !important;
}
.layui-form-onswitch {
	border-color: rgb(245,113,48) !important;
	background-color: rgb(245,113,48) !important;
}
.layui-form-checked[lay-skin="primary"] i {
	border-color: rgb(245,113,48) !important;
	background-color: rgb(245,113,48) !important;
}
.layui-form-checkbox[lay-skin="primary"]:hover i {
	border-color: rgb(245,113,48) !important;
}
.layui-form-radioed>i, .layui-form-radio>i:hover {
	color: rgb(245,113,48) !important;
}
.layui-form-checked, .layui-form-checked:hover {
    border-color: rgb(245,113,48) !important;
}
.layui-form-checkbox[lay-skin="primary"]:hover span {
	background: none !important;
}

.requiredSpan {	
	color: red;
	line-height: 16px;
}
.layui-table-cell {
    height: auto; 
    line-height: 28px;
    padding: 0 15px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    box-sizing: border-box;
    word-break: break-all;
}
