body {
	background: rgb(245,113,28)url(../images/login/bg.png) no-repeat center !important;
    background-size: 50% !important;
    height: 100%;
    min-height: 1050px;
}
.logo {
	width: 12rem;
    height: 12rem;
    background: url(../images/login/logo.png) center no-repeat;
    background-size: 100%;
    margin: 6% auto;
}
/*.login-form {
    background: #fff;
    position: relative;
    width: 40%;
    margin: 3% auto 0 auto;
    margin-top: -6% !important;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
}*/
.formTop {
	width: 50%;
	margin: 3% auto 0 auto;
	background: #fff;
	margin-top: -6% !important;
	text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
}
.inputDiv {
	padding: 2.6rem 6.0rem 0;
}
.inputDiv input {
	padding-left: 2.4rem;
	background: url(../images/login/admin.png) no-repeat 0.8rem 0.45rem;
}
.passwordInputDiv {
	padding: 0 6.0rem;
}
.passwordInputDiv input {
	padding-left: 2.4rem;
	background: url(../images/login/pwd.png) no-repeat 0.8rem 0.45rem;
}
.btnDiv {
	padding: 0 6.0rem 0.4rem;
}
.btnDiv button {
	background-color: rgb(245,113,28);
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}
.aTagDiv {
	overflow: hidden;
	padding: 0 6.0rem 0.6rem;
}
.aTagDiv a {
	margin: 0 30px;
	color: rgb(245,113,28);
}
.formTitleTop {
	padding: 1.4rem 6.0rem 0;
}
.formTitleTop .formTitleSpan {
	font-size: 1rem;
	font-weight: bold;
}
.tags {
  	list-style: none;
  	margin: 0;
  	overflow: hidden; 
  	padding: 0;
}
.tags li {
  	float: left; 
}
.tag {
	width: 50%;
	list-style: none;
  	background: #eee;
  	border-radius: 3px 0 0 3px;
  	color: #999;
  	display: inline-block;
  	height: 26px;
  	line-height: 26px;
  	text-align: center;
  	position: relative;
  	text-decoration: none;
  	-webkit-transition: color 0.2s;
}
.tag:first-child {
	z-index: 99;
}
.tag:last-child {
	z-index: 98;
}
.tag::before {
  	background: #fff;
  	border-radius: 10px;
  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  	height: 6px;
  	left: 10px;
  	position: absolute;
  	width: 6px;
  	top: 10px;
}
.tag::after {
  	background: #fff;
  	border-bottom: 13px solid transparent;
  	border-left: 10px solid #eee;
  	border-top: 13px solid transparent;
  	content: '';
  	position: absolute;
  	right: 0;
  	top: 0;
}
.tagBefore::after {
	background: #fff;
  	border-bottom: 13px solid rgb(245,113,28);
  	border-left: 10px solid #eee;
  	border-top: 13px solid rgb(245,113,28);
  	content: '';
  	position: absolute;
  	right: 0;
  	top: 0;
}
.tagActive {
	background: rgb(245,113,28);
	color: white;
}
.tagActive::before {
	
}
.tagActive::after {
	border-bottom: 13px solid #eee;
	border-left: 10px solid rgb(245,113,28);
	border-top: 13px solid #eee;
}
.tagAfter::after {
	border-bottom: 13px solid #fff;
	border-left: 10px solid rgb(245,113,28);
	border-top: 13px solid #fff;
}
.inputRegDiv {
	padding-top: 0.6rem;
}
.inputCode {
	width: 70%;
}
.btnGetCode {
	display: inline-block;
	width: 28%;
	height: 36px;
	background-color: rgb(245,113,28);
	border: 0;
	color: #fff;
	cursor: pointer;
}
.nextStepBtn {
	width: 100%;
	height: 36px;
	background-color: rgb(245,113,28);
	border: 0;
	color: #fff;
	cursor: pointer;
}
