body {
	background-color: rgba(240, 244, 245, 1);
}
.css-top {
	background-color: #FFF;
}
.css-top .css-icon-title {
	/*text-align: center;*/
	border-bottom: 1px solid rgb(202, 203, 221);
}
.css-top .css-title {
	font-size: 20px;
	line-height: 55px;
}
.text-span {
	font-size: 1em;
	height: 30px;
	line-height: 30px;
}
.layui-tab-title {
	height: 31px;
}
.layui-tab-title li {
	line-height: 30px;
}
.layui-tab-title .layui-this:after {
	height: 31px;
	border-bottom: 1px solid rgb(202, 203, 221);
}
.css-tab-content {
	width: 100%;
    position: absolute;
    left: 0;
}
.layui-tab-card > .oh .layui-tab-title {
    background-color: rgb(240, 244, 245);
    color: rgb(172, 185,192);
}
.layui-tab-card > .oh .layui-tab-title .layui-this {
    background-color: rgb(148, 164, 174);
}
.layui-tab-title .layui-this {
    color: #FFF;
}
.layui-tab-card > .oh .layui-tab-title li {
    border: 1px solid rgb(172, 185,192);
}
/*.css-situation-panel {
	background-color: #FFF;
}*/
.css-situation-panel .css-span-bor {
	width: 3px;
	height: 16px;
}
.css-situation-panel .css-span-text {
	font-weight: bold;
	font-size: 1em;
	line-height: 16px;
}
.css-tab-situation {
	background-color: #FFF;
}
.situation-time-panel {
	padding-top: 50px;
}
.time-span {
	color: rgb(154, 170, 179);
	line-height: 25px;
}
.css-shopNum-panel1 {
	width: 60%;
	text-align: left;
}
.css-shopNum-panel2 {
	width: 20%;
	text-align: center;
}
.css-shopNum-panel1, .css-shopNum-panel2 {
	height: 100%;
	line-height: 38px;
}
.css-food-panel {
	width: 100px;
	height: 120px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.span-food-name {
	font-size: 16px;
}
.span-foodNo2-name {
	color: rgb(133, 191, 241);
}
.span-foodNo1-name {
	color: rgb(251, 157, 20);
}
.span-foodNo3-name {
	color: rgb(120, 193, 61);
}
.bc1-span {
	background-color: rgb(251, 157, 20);
}
.span-bc {
	left: 10px;
	top: 11.5px;
	width: 15px;
	height: 15px;
}
.bc2-span {
	background-color: rgb(133, 191, 241);
}
.bc3-span {
	background-color: rgb(120, 193, 61);
}