@charset "utf-8";

/***
 * 商户菜品页面的样式
 */


/* 套餐样式 */

.setMealGroupPanel {
	/*height: 420px;*/
	border-right: 1px solid #E6E6E6;
}

.addMealGroupPanel {
	height: 60px;
	background-color: rgb(240, 240, 240);
	text-align: center;
	line-height: 60px;
}

.layui-nav-tree {
	width: 100%;
}

.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-this>a:hover,
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-nav-item a:hover {
	background-color: rgb(213, 234, 255);
	color: #000;
}

.layui-nav-tree .layui-nav-bar {
	background-color: rgba(0, 150, 136, 0) !important;
}

.layui-nav-item a {
	background-color: #FFF;
	font-weight: bold;
	color: #000 !important;
}

.layui-nav-tree .layui-nav-item a {
	height: auto;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	white-space: normal;
	line-height: 30px;
	padding: 8px 10px;
	word-break: break-all;
	text-align: center;
}

.layui-form-checkbox[lay-skin="primary"] span {
	font-size: 12px !important;
	padding: 0 0 0 5px;
}

.foodListPanel {
	height: auto;
}

.foodItemPanel {
	width: 95px;
	/*background-color: rgb(248, 229, 186);*/
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(229, 199, 94);
	padding: 5px 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.foodItemPanel .foodNameSpan {
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1em;
	color: rgb(132, 61, 32);
	font-weight: bold;
}

.foodItemPanel .foodPriceSpan {
	font-size: 10px;
	color: rgb(132, 61, 32);
	padding-top: 20px;
	padding-left: 3px;
}

.foodItemPanel.current {
	background-color: rgb(229, 206, 151);
}

.foodItemPanel.current .foodNameSpan {
	color: #000;
}

.paginationPanel {
	text-align: center;
}